
@{
    @model T2004E_WAD.Models.Category


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>
    @ViewData["Message"]
</h1>
<h2>
    Thoi gian: @ViewData["CurrentTime"]
</h2>
<h2>
    Dung vs view Bag:
    @ViewBag.Message
    @ViewBag.CurrentTime
</h2>
@{
    //viet code C# thi phai de trong @{}
    var product = new string[] { "con cho", "con meo", "con chuot", "4" };
}
<ul>
    @foreach (var pro in product)
    {
        <li>@pro</li>

    }
</ul>
<a href="~/Home/About">About us</a>

@Html.ActionLink("Home", "Index", "Home")


<h2>Start From Login</h2>
@{Html.BeginForm("Create", "Category");}

@Html.Label("Email")
@Html.TextBox("Email")
<br />
@Html.Label("Password")
@Html.Password("Password")
<br />
@Html.DropDownList("city", new SelectList(new[] { "hn", "sg" }), "Chon tp")
<br />
@Html.CheckBox("Remember")@Html.Label("Remember me")
<br />


<button type="button">Submit</button>

@{Html.EndForm();}


<h3>THONG TIN DANH MUC</h3>
<h3>Ten: @Model.Name</h3>
<h3>Anh: @Model.Image</h3>
<h3>Mo ta: @Model.Description</h3>

<h2> Form nhap du lieu cho Category</h2>
@{ Html.BeginForm();}
@Html.ValidationSummary(true)
@Html.LabelFor(Model => Model.Name)
@Html.EditorFor(Model => Model.Name)
@Html.LabelFor(Model => Model.Image)
@Html.EditorFor(Model => Model.Image)
@Html.LabelFor(Model => Model.Description)
@Html.EditorFor(Model => Model.Description)
@{ Html.EndForm();}
